*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/notebook-paper-texture.jpg);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/*Content Section*/
.content{
    background-color: rgba(14, 20, 14, 0.8);
    color: white;
    margin: 1%;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.content-title{
    align-self: center;
}
.new-task-button{
    align-self: center;
}
.task-item{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "task-name task-desc task-due-date task-update-button"
    "task-name task-desc task-due-date task-remove-button";
    flex-grow: 1;
    align-items: center;
    border-style: solid;
    border-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.task-name{
    grid-area: task-name;
}
.task-desc{
    grid-area: task-desc;
}
.task-due-date{
    grid-area: task-due-date;
}
#new-task-form{
    display: flex;
}
#task-desc{
    flex-grow: 5;
}
.task-button-container{
    flex-grow: 1;
    display: flex;
}
.task-button-container button{
    width: 100%;
}
.task-item-container{
    flex-grow: 1;
    height: 500px;
    overflow: scroll;
}

/*Sidebar section*/
.sidebar{
    background-color: rgba(14, 20, 14, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 15px;
    padding: 1%;
}
.sidebar-title{
    align-self: center;
}
.project-item{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(44, 44, 44);
    padding: 5px;
    margin: 5px;   
}
.project-name{
    flex-grow: 1;
}
.project-item-container{
    flex-grow: 1;
    height: 500px;
    overflow:scroll;
}
#new-project-form{
    display: flex;
}
.new-project-button{
    align-self: center;
}
.project-button-container{
    flex-grow: 1;
    display: flex;
}
.project-button-container button{
    width: 100%;
}